body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #4B5320;
    color: #FFFFFF;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-frame {
    border: 2px solid #000000;
    padding: 10px;
    margin-right: 20px;
}

.logo-frame img {
    width: 150px;
}

.title-frame {
    border: 2px solid #000000;
    padding: 10px;
}

.title-frame h1 {
    margin: 0;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px #000000;
}

form {
    max-width: 600px;
    margin: auto;
    background-color: #3D403D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #FFFFFF;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #2E312E;
    color: #FFFFFF;
    border: 1px solid #555555;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

textarea {
    height: 500px; /* A4 size */
}

.instructions-frame {
    background-color: #3D403D;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
    margin-bottom: 20px;
    text-align: center;
}

.instructions-frame h2 {
    color: #FFFFFF;
}

.instructions-frame p, .instructions-frame ul {
    color: #FFFFFF;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 2px solid #000000;
    margin-top: 20px;
}

footer p {
    margin: 0;
    color: #FFFFFF;
}
